@import "tailwindcss";

@theme {
    --font-sans: Product Sans, sans-serif;
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

body {
    font-family: Product Sans, sans-serif;
}


